@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<ContactDetails>
    Sohail Raza<br />
    Cambridgeshire<br />
    <a href="https://www.github.com/sohail-raza">Website</a> <br />
    <abbr title="Phone">P:</abbr>
    07512570891
</ContactDetails>

<address>
    <strong>Email address:</strong>   <a href="sohail.raza.mail@gmail.com">sohail.raza.mail@gmail.com</a><br />
</address>