
@{
    ViewBag.Title = "ReadMe";
}

<h2>README</h2>
<div><p>
    The folder transfer app transfers content from a source folder to a target folder. The files that are stored can be found in Config -> FileList.txt.
    if a file doesn't exist in the file list, it will simply be skipped. If a target folder or source folder is not a valid file path, the user will be redirected to the index page.
    Please ensure the source and target folders exist. This application does not create directories and requires full paths including the drive letter.
    ex: C:\Users\Sohail\source\repos\FolderTransferApp\samples\source is a valid path
    <br />
    To begin copying, assign a source folder i.e a folder you would like to copy data from and a target folder.
    The application does not transfer the entire contents of the application so you can configure what files are transferred.
    Two folders have been provided within this solution with configurations found in the file list. These folders must be extracted to a separate location as changes cannot be made to the project solution itself
    Both folders can be found at C:\Users\Sohail\source\repos\FolderTransferApp\samples

    Screenshots can be seen within the screens folder.

    <br />
</p></div>

